.hero {
  height: 400px;
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;

  background-color: $primery-bgr-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-mobile-base.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-mobile@2x.jpg);
  }
  // Tablet
  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-tablet-base.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tablet@2x.jpg);
    }
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-desktop-base.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-desktop@2x.jpg);
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6em;
  letter-spacing: 0.06em;
  color: $second-accent-color;
  text-transform: uppercase;
  text-align: center;

  // Desktop
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36em;
  }
}

.hero__button {
  padding-left: 32px;
  padding-right: 32px;
}
