// Mobile Menu
.menu {
  // Mobile
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 796px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    z-index: 4;
    pointer-events: none;
    background-color: $second-accent-color;

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      opacity: 1;
      pointer-events: all;
    }
  }
  // Tablet
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.menu__button-open,
.menu__button-close {
  background-color: transparent;

  // Tablet
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__button-open {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus .menu__icon-close {
    fill: $accent-color;
  }
}

.menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus .menu__icon-menu {
    fill: $accent-color;
  }
}
